.App {
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
   .login{
    padding: 12px;
    width: 194px;
    margin-top: 15px;
    background-color: #62eb5d;
    border-radius: 8px;
  
   }
  .password {
    margin-top: 20px ;
  }
  
  .user{
    margin-top: 40px;
  }
  .check{
    margin-top: 60px;
    font-size: small;
  }
  
  .button{
    margin-top: 90px;
  }
  .input{
    padding: 15px;
      border: 1px solid #999999;
      border-radius: 5px;
      margin-top: 5px;
  }
  .signup{
    margin-top: 20px;
  }
  .img-fill{
    object-fit: fill;
    width: 100%;
    height: 147.5%;
  }
  .img-parent {
    width: 220px;
    height: 150px;
    margin: auto;
    margin-top: 30px;
  }
  
  .img-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .test{
    margin-top: 5px;
  }